a {
  text-decoration: none;
  color: black;
}
.work {
  width: 100%;
  height: 300px;
  background: linear-gradient(
    36deg,
    rgba(37, 244, 238, 1) 0%,
    rgba(254, 44, 85, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: black;
  font-weight: bold;
  margin-top: 30px;
  position: relative;
}

.work-one {
  width: 100%;
  height: 300px;
  background: linear-gradient(
    180deg,
    rgba(210, 107, 213, 1) 0%,
    rgba(255, 255, 157, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: black;
  font-weight: bold;
  margin-top: 30px;
  position: relative;
}

.work-two {
  width: 100%;
  height: 300px;
  background: linear-gradient(
    6deg,
    rgba(210, 107, 213, 1) 0%,
    rgba(254, 44, 85, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: black;
  font-weight: bold;
  margin-top: 30px;
  position: relative;
}
.work-three {
  width: 100%;
  height: 300px;
  background: linear-gradient(
    276deg,
    rgba(37, 244, 238, 1) 0%,
    rgba(255, 255, 157, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: black;
  font-weight: bold;
  margin-top: 30px;
  position: relative;
}
.work-four {
  width: 100%;
  height: 300px;
  background: linear-gradient(
    36deg,
    rgba(37, 244, 238, 1) 0%,
    rgba(254, 44, 85, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: black;
  font-weight: bold;
  margin-top: 30px;
}

.work:hover {
  width: 100%;
  height: 300px;
  border: 2px solid #25f4ee;
  color: #25f4ee;
  background: transparent;
}

.work:hover a {
  color: #25f4ee;
}

.work-one:hover a {
  color: #25f4ee;
}

.work-two:hover a {
  color: #25f4ee;
}

.work-three:hover a {
  color: #25f4ee;
}

.work-one:hover {
  width: 100%;
  height: 300px;
  border: 2px solid #25f4ee;
  color: #25f4ee;
  background: transparent;
}

.work-two:hover {
  width: 100%;
  height: 300px;
  border: 2px solid #25f4ee;
  color: #25f4ee;
  background: transparent;
}

.work-three:hover {
  width: 100%;
  height: 300px;
  border: 2px solid #25f4ee;
  color: #25f4ee;
  background: transparent;
}

.work-four:hover {
  width: 100%;
  height: 300px;
  border: 2px solid #25f4ee;
  color: #25f4ee;
  background: transparent;
}
.heading {
  animation: bounceIn 1.5s;

  display: inline-block;
}
.heading:hover {
  animation: jello 1s;
}

.projects {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  /* height: 100px; */
  background-color: red;
}

@media only screen and (max-width: 600px) {
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }
}

.links {
  text-decoration: none;
  color: black;
}
