html {
  scroll-behavior: smooth;
}

.header {
  position: relative;
  z-index: 1;
  /* height: 30px; */
  position: sticky;
  top: 30px;
  /* padding-top: 30px; */
  padding-right: 30px;
  /* background-color: #1d1d1d; */
}

.name {
  font-weight: 800;
  font-size: 50px;
}
.char {
  display: inline-block;
  animation: bounceIn 1.5s;
  /* animation-delay: 1s; */
  font-size: 60px;
  font-weight: bold;
}

.char:hover {
  display: inline-block;
  /* animation: jello 1s, bounceIn 1s; */
  animation: jello 1s;
  color: #25f4ee;
}

.j {
  display: inline-block;
  animation: fadeIn 1s, tada 1s, flip 1s;
  /* animation-delay: 1s; */
  font-size: 60px;
  font-weight: bold;
}

.hand {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  animation: swing 2s infinite;
}

.hand:hover {
  animation: swing 2s infinite, tada 1s;
}

.button {
  /* height: 40px; */
  animation: fadeInDown 1s;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  width: 150px;
  background-color: transparent;
  border: 1px solid #25f4ee;
  color: #25f4ee;
  transition: 0.5s ease-in-out;
}

.button:hover {
  cursor: pointer;
  color: #1d1d1d;
  background-color: #25f4ee;
  transition: 0.5s ease-in-out;
}

.button:active {
  text-decoration: none;
}

.link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
  margin-left: 20px;
  display: inline-block;
  animation: fadeIn 1s, backInDown 1s;
}

.link:hover {
  color: #25f4ee;
  animation: swing 1s, backInDown 1s, fadeIn 1s;
}

.intro {
  animation: fadeInUp 1s;
}

.role {
  animation: fadeInDown 1s;
}
.resume-container {
  animation: fadeInRight 1s;
}

.resume {
  text-decoration: none;
  margin-left: 20px;
  font-size: 15px;
  padding: 8px;
  width: 100px;
  background-color: transparent;
  border: 1px solid #25f4ee;
  color: #25f4ee;
}

.resume:hover {
  cursor: pointer;
  color: #1d1d1d;
  background-color: #25f4ee;
  transition: 0.5s ease-in-out;
}

.resume:active {
  text-decoration: none;
}

.animate__animated.animate__flip {
  --animate-delay: 2s;
}

.K {
  /* animation: fadeIn 1s; */
  /* transition: all 1s ease; */
  animation: flip 5s infinite ease-in-out;
}

.K:hover {
  /* animation-delay: 0s;
  animation: tada 1s; */
  animation: flip 1s infinite ease-in-out;
}
