.heading {
  animation: bounceIn 1.5s;

  display: inline-block;
}
.heading:hover {
  animation: jello 1s;
}

.skill {
  border: 1px solid #25f4ee;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: "#25F4EE";
  width: 70px;
  flex-direction: column;
  transition: 0.1s ease-in-out;

  /* margin-left: 50px; */
}

.skill:hover {
  font-weight: bold;
  background-color: #fe2c55;
  transition: 0.1s ease-in-out;
  /* transform: translateY(-30px); */
  margin-top: -10px;
  margin-bottom: -10px;
}

.skills {
  width: 200%;
  padding: 30px;
  animation: bannermove 10s linear infinite;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  overflow: hidden;
  position: absolute;
  left: 0;
}

.skills:hover {
  animation-play-state: paused;
}

@keyframes bannermove {
  0% {
    /* transform: translate(0, 0); */
    left: 0;
  }
  100% {
    /* transform: translate(-200%, 0); */
    left: -100%;
  }
}
