/* .title {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 12px;
  width: 20%;
  background-color: transparent;
  height: 100px;
  font-size: 25px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #25f4ee;
  border: 0;
}

.title:hover {
  background: rgba(37, 244, 238, 0.2);
}

.title:active {
  background: rgba(37, 244, 238, 0.2);
}

.title:focus {
  background: rgba(37, 244, 238, 0.2);
  border-left: 2px solid #25f4ee;
} */

.title {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 12px;
  /* background-color: transparent; */
  height: 30px;
  font-size: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #25f4ee;
  border-left: 5px solid rgba(255, 255, 255, 0.17);
  cursor: pointer;
}

.title:hover {
  background: rgba(37, 244, 238, 0.2);
}

.title-active {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 12px;
  background: rgba(37, 244, 238, 0.2);
  height: 30px;
  font-size: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #25f4ee;
  border-left: 5px solid #25f4ee;
}

.enter {
  animation: fadeInUp 1s;
}

.enter-thales {
  animation: fadeInUp 1s;
}

.work-container {
  width: 100%;
  height: 400px;
  background-color: transparent;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.title-container {
  width: 20%;
  display: flex;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .work-container {
    margin-top: 80px;
    flex-direction: column;
  }
  .title {
    width: 100%;
  }
  .title-active {
    width: 100%;
  }
  .title:hover {
    background-color: transparent;
  }
  .title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
